# Vim swap
*.swp

# Sortie du script -> cat de tous les fichiers
db_sql/natation_cat.sql
db_sql/fixture_helpers/natation_fixtures.sql
/Template site web/HTML5Application/nbproject/private/
/Template site web/Template site web/nbproject/private/

# PHPStorm project
.idea/*
/Template site web/TestJDK10/nbproject/private/
/Template site web/Java Test/nbproject/private/
/Template site web/Java Test/build/