/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body {
  background: url('../Background.png') no-repeat center;
}

body > .container {
  /* padding: 60px 15px 0; */
/*
  padding: 165px 15px 0;
*/
  padding-top: 165px;
  min-height: 100%;
/*
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
*/
}

.container {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
/*
  padding-right: 15px;
  padding-left: 15px;
*/
  padding-right: 6%;
  padding-left: 6%;
}

code {
  font-size: 80%;
}

body > .banner {
  width: 100%;
  height: 125px;
  background-color: #0e1655;
  z-index: 1030;
}

#page-banner {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  /* background: url(./banner.png) no-repeat;*/
}

#page-banner .banner-left {
  background-image: url('../Logo_natation.png');
  background-repeat: no-repeat;
  background-size: auto 125px;
  background-attachment: fixed;
  background-position: top left;
  height: 125px;
}

@media (min-width: 768px) {
  #page-banner .banner-right {
    background-image: url('../Header_natation.png');
    background-repeat: no-repeat;
    /*background-size: auto 100%;*/
    background-size: auto 125px;
    background-clip: contain;
    background-attachment: fixed;
    background-position: top right;
    height: 125px;
  }
}

@media (max-width: 767px) {
  #page-banner .banner-right {
    visibility: hidden;
  }
}

.navbar {
  min-height: 30px;
  margin-bottom: 20px;
}

.navbar .container {
  padding-left: 3%;
  padding-right: 3%;
}

.navbar-brand,
.navbar-nav li a {
  padding: 10px;
/*
  padding-top: 10px;
  padding-bottom: 10px;
*/
}

.navbar-brand {
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-fixed-top {
 top: 125px;
 border-width:1px 0 1px
}

.navbar-header {
/*
  margin-right: 10px;
  margin-left: 10px;
*/
}

div.list-organize {
  width: 100%;
  /*display: inline-block;*/
  /*float: left;*/
}

div.list-organize > .list-organize-buttons {
  position:relative;
  margin-right: 10px;
  float: left;
}

div.list-organize > .list-organize-select {
  position:relative;
  width: auto;
  float: left;
}

table a {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
  line-height: 1.42857143;
  color: #333;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: #444;
}

table .bold_elems {
  font-weight: bold;
}

.table-hover > tbody > tr:hover {
  background-color: #f5f5f599;
}

.alert {
  /*opacity: 0.50;*/
  filter: alpha(opacity=60);
}

.alert-success {
  background-color: #dff0d899;
}
.alert-info {
  background-color: #d9edf799;
}
.alert-warning {
  background-color: #fcf8e399;
}
.alert-danger {
  background-color: #f2dede99;
}

.fa-times {
  color: red;
}

h1 a {
  color: #444;
  transition: color 0.5s;
}

h1 a:hover{
  color: #666;
}