{% extends '@Natation/base.html.twig' %}

{% block app_body_title %}
    Tous les utilisateurs
{% endblock %}

{% block app_body %}

<table class="table table-hover">
    <thead>
        <tr>
            <th>id</th>
            <th>mail</th>
            <th>roles</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for user in allUsers %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.mail }}</td>
            <td>
                {% for role in user.roles %}
                    {{ role }},
                {% endfor %}
            </td>
            <td><a href="{{ path('show_user', {userId: user.id}) }}"><i class="fa fa-fw fa-edit"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}